@model FPTBookS.Models.User
@{
    Layout = "~/Views/_LayoutHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/jquery.validate.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="~/Contents/style.css" />
</head>
<body>
    <div id="form-register">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr class="title-form">
                    <th colspan="2">Register</th>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Username)</td>
                    <td>@Html.TextBoxFor(m => m.Username, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">
                        @if (ViewBag.error != null)
                        {
                            <span class="field-validation-error">@ViewBag.error</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.Username)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.PasswordFor(m => m.Password, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                    <td>@Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.FirstName)</td>
                    <td>@Html.TextBoxFor(m => m.FirstName, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.FirstName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.LastName)</td>
                    <td>@Html.TextBoxFor(m => m.LastName, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.LastName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Email)</td>
                    <td>@Html.TextBoxFor(m => m.Email, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Address)</td>
                    <td>@Html.TextBoxFor(m => m.Address, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.Address)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Birthday)</td>
                    <td>@Html.TextBoxFor(m => m.Birthday, new { style = "width:100%" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.Birthday)</td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Register" />
                        <input class="btn btn-primary" type="reset" value="Reset" />
                        <a class="btn btn-primary" href="@Url.Action("Index","Login")">Login</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
